<a href="https://colab.research.google.com/github/tamer017/football-players-ratings-and-salaries/blob/main/football_players'_ratings_and_salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
data=pd.read_csv('/content/drive/MyDrive/CompleteDataset.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (23,35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [53]:
# no need for player name or photo or any information about the country
# also no need for the position data we will use the prefared position
data.drop(['Unnamed: 0' , 'Name','Photo', 'Flag',
       'Club Logo', 'CAM', 'CB', 'CDM', 'CF', 'CM', 'ID',
       'LAM', 'LB', 'LCB', 'LCM', 'LDM', 'LF', 'LM', 'LS', 'LW', 'LWB',
       'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF', 'RM',"Potential",
       'RS', 'RW', 'RWB', 'ST'],axis=1,inplace=True)
data.head()

,Age,Nationality,Overall,Club,Value,Wage,Special,Acceleration,Aggression,Agility,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
0,32,Portugal,94,Real Madrid CF,€95.5M,€565K,2228,89,63,89,...,83,94,23,91,92,31,80,85,88,ST LW
1,30,Argentina,93,FC Barcelona,€105M,€565K,2154,92,48,90,...,88,85,26,87,73,28,59,90,85,RW
2,25,Brazil,92,Paris Saint-Germain,€123M,€280K,2100,94,56,96,...,81,80,33,90,78,24,53,80,83,LW
3,30,Uruguay,92,FC Barcelona,€97M,€510K,2291,88,78,86,...,83,87,38,77,89,45,80,84,88,ST
4,31,Germany,92,FC Bayern Munich,€61M,€230K,1493,58,29,52,...,55,25,11,61,44,10,83,70,11,GK

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  17981 non-null  int64
 1   Nationality          17981 non-null  object
 2   Overall              17981 non-null  int64
 3   Club                 17733 non-null  object
 4   Value                17981 non-null  object
 5   Wage                 17981 non-null  object
 6   Special              17981 non-null  int64
 7   Acceleration         17981 non-null  object
 8   Aggression           17981 non-null  object
 9   Agility              17981 non-null  object
 10  Balance              17981 non-null  object
 11  Ball control         17981 non-null  object
 12  Composure            17981 non-null  object
 13  Crossing             17981 non-null  object
 14  Curve                17981 non-null  object
 15  Dribbling            17981 non-null  object
 16  Finishing            17981 non-null  object
 17  Free kick accuracy   17981 non-null  object
 18  GK diving            17981 non-null  object
 19  GK handling          17981 non-null  object
 20  GK kicking           17981 non-null  object
 21  GK positioning       17981 non-null  object
 22  GK reflexes          17981 non-null  object
 23  Heading accuracy     17981 non-null  object
 24  Interceptions        17981 non-null  object
 25  Jumping              17981 non-null  object
 26  Long passing         17981 non-null  object
 27  Long shots           17981 non-null  object
 28  Marking              17981 non-null  object
 29  Penalties            17981 non-null  object
 30  Positioning          17981 non-null  object
 31  Reactions            17981 non-null  object
 32  Short passing        17981 non-null  object
 33  Shot power           17981 non-null  object
 34  Sliding tackle       17981 non-null  object
 35  Sprint speed         17981 non-null  object
 36  Stamina              17981 non-null  object
 37  Standing tackle      17981 non-null  object
 38  Strength             17981 non-null  object
 39  Vision               17981 non-null  object
 40  Volleys              17981 non-null  object
 41  Preferred Positions  17981 non-null  object
dtypes: int64(3), object(39)
memory usage: 5.8+ MB

In [55]:
data.dropna(axis=0,inplace=True)

In [56]:
data.isnull().sum()

Age                    0
Nationality            0
Overall                0
Club                   0
Value                  0
Wage                   0
Special                0
Acceleration           0
Aggression             0
Agility                0
Balance                0
Ball control           0
Composure              0
Crossing               0
Curve                  0
Dribbling              0
Finishing              0
Free kick accuracy     0
GK diving              0
GK handling            0
GK kicking             0
GK positioning         0
GK reflexes            0
Heading accuracy       0
Interceptions          0
Jumping                0
Long passing           0
Long shots             0
Marking                0
Penalties              0
Positioning            0
Reactions              0
Short passing          0
Shot power             0
Sliding tackle         0
Sprint speed           0
Stamina                0
Standing tackle        0
Strength               0
Vision                 0
Volleys                0
Preferred Positions    0
dtype: int64

In [62]:
columns_to_convert=['Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
       'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing',
       'Free kick accuracy', 'GK diving', 'GK handling', 'GK kicking',
       'GK positioning', 'GK reflexes', 'Heading accuracy', 'Interceptions',
       'Jumping', 'Long passing', 'Long shots', 'Marking', 'Penalties',
       'Positioning', 'Reactions', 'Short passing', 'Shot power',
       'Sliding tackle', 'Sprint speed', 'Stamina', 'Standing tackle',
       'Strength', 'Vision', 'Volleys']
for col in columns_to_convert:
  data[col]=pd.to_numeric(data[col])
# .astype(int)

ValueError: ignored

In [63]:
data.iloc[306,:]



# plt.figure(figsize=(40,30))
# sns.heatmap(data.corr(),annot=True)
# plt.show()

Age                         21
Nationality            Denmark
Overall                     81
Club                   Chelsea
Value                     €23M
Wage                      €86K
Special                   1720
Acceleration              70+9
Aggression                  73
Agility                   60+6
Balance                     62
Ball control                72
Composure                 74+2
Crossing                    49
Curve                       32
Dribbling                 68+3
Finishing                   36
Free kick accuracy          22
GK diving                   10
GK handling                 12
GK kicking                   8
GK positioning               6
GK reflexes                  8
Heading accuracy            79
Interceptions               81
Jumping                     74
Long passing              72+2
Long shots                  20
Marking                     83
Penalties                   36
Positioning                 32
Reactions                   80
Short passing               76
Shot power                  31
Sliding tackle              84
Sprint speed              73+7
Stamina                   68+2
Standing tackle             88
Strength                  70+1
Vision                      60
Volleys                     25
Preferred Positions    CDM CB
Name: 309, dtype: object